

body
{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;

    margin: 0;
    padding: 0;

    background: #fff;
}

input,
button
{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-div,
.loggedin-div
{
    display: none;

    width: 20%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
}

.main-div input
{
    display: block;

    width: 100%;
    margin-bottom: 20px;
    padding: 15px;

    -webkit-transition: .3s;
       -moz-transition: .3s;
            transition: .3s;

    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: #fff;
}

.main-div input:focus
{
    border: 1px solid #777;
}

.main-div button,
.loggedin-div button
{
    display: block;

    width: 100%;
    padding: 15px;

    -webkit-transition: .3s;
       -moz-transition: .3s;
            transition: .3s;

    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    background: #5d8ffc;
}

.main-div button:hover,
.loggedin-div button:hover
{
    cursor: pointer;

    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    background: #fff;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
