 #song_div {
     overflow: auto;
 }

 #song_table {
     width: 100%;
     padding: 20px;
 }

 th, td {
     /* padding: 15px; */
     text-align: left;
     border: 1px solid black;
 }

 #write_suggestion_div {
     width: 100%;
 }